<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro Vue</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <br>
        {{message}}
        <textarea cols="30" rows="10" v-model="textarea"></textarea>
        <br>
        <p style="white-space: pre-line;">{{textarea}}</p>
        <input type="radio" v-model="radiobutton" value="option1">Option 1
        <br>
        <input type="radio" v-model="radiobutton" value="option2">Option 2
        <br>
        Your Choice is : {{radiobutton}}
    </div>
<!-- development version, includes helpful console warnings -->
<script src="asset/vendor/vue.js"></script>
<script src="asset/js/app.js"></script>
</body>
</html>